*{
  box-sizing:border-box;
}
@media screen and (max-width:670px){
  body{
    margin: 0;
    /* background-image: url("background-image1.JPG"); */
    background-color: white;
    background-size:cover;
  }
  header{
    /* position :fixed; */
    margin:0;
  }

  .header-list{
    /* position:relative; */

  }
  .header_logo{
    height:80px;
    width:100%;
    background-image: url("header_logo_smart1.png");
    background-size: cover;
    /* text-align:left;
    margin: 0 auto; */
    /* max-width:50%; */
    /* border-bottom:2px solid red; */
  }
  h1{
    color:black;
  }

  .header-right{
    /* width:100%;
    padding-top:0px;
    margin-top:0px;
    z-index: 1;
    position: absolute; */
    position: absolute
    top:70px;
    right:0px;
    /* margin:-10px 65px 0 0; */
  }
  .header-right.fixed{
      position: fixed;
      top: 0;
  }

  /* .header-right.transform{
    background: rgba(255,255,255,0.9);
      padding: 20px;
  } */
  .cp_navi {
    /* position :fixed; */
  	background-color: #ffffff;
  	border: 1px solid #dedede;
  	border-radius: 4px;
  	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  	color: #888888;
  	display: block;
  	margin: 1em 1%;
    overflow-x: auto;
    white-space: nowrap;
  	width: 100%;
  }
  .cp_navi ul {
  	margin: 0;
  	padding: 0;
  }
  .cp_navi ul li {
  	display: inline-block;
  	list-style-type: none;
  	-webkit-transition: all 0.2s;
  	        transition: all 0.2s;
  }
  .cp_navi > ul > li > a > .caret {
  	border-top: 4px solid #aaaaaa;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
  	content: '';
  	display: inline-block;
  	height: 0;
  	width: 0;
  	vertical-align: middle;
  	-webkit-transition: color 0.1s linear;
  	        transition: color 0.1s linear;
  }
  .cp_navi > ul > li > a {
  	color: #aaaaaa;
  	display: block;
  	line-height: 56px;
  	padding: 10px 12px;
    /* 横幅 */
  	text-decoration: none;
  }
  .cp_navi > ul > li:hover {
  	background-color: rgb(218, 60, 65);
  }
  .cp_navi > ul > li:hover > a {
  	color: rgb( 255, 255, 255 );
  }
  .cp_navi > ul > li:hover > a > .caret {
  	border-top-color: rgb( 255, 255, 255 );
  }
  .cp_navi > ul > li > div {
  	background-color: rgb(218, 60, 65);
  	border-top: 0;
  	border-radius: 0 0 4px 4px;
  	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  	display: none;
  	margin: 0;
  	opacity: 0;
  	position: absolute;
  	width: 165px;
  	visibility: hidden;
  	-webkit-transiton: opacity 0.2s;
  	       transition: opacity 0.2s;
  }
  .cp_navi > ul > li:hover > div {
  	display: block;
  	opacity: 1;
  	visibility: visible;
  }
  .cp_navi > ul > li > div ul > li {
  	display: block;
  }
  .cp_navi > ul > li > div ul > li > a {
  	color: #ffffff;
  	display: block;
  	padding: 12px 24px;
  	text-decoration: none;
  }
  .cp_navi > ul > li > div ul > li:hover > a {
  	background-color: rgba( 255, 255, 255, 0.1);
  }
  .clear{
    clear:both;
  }
  .menu{
    margin-top: 0px;
    padding-top:0px;
    width:100%;
  }
  .slider{
    height:300px;
  }
  .slide-image{
    height:250px;
  }
  .text{
    font-size: 5px;
  }
  .instgram-border{
    border:2px solid black;
  }
  .instgram{
    margin-left:40px;
    width:80%;
  }
  .twitter{
    width:45%;
    height:5px;
  }

  .youtube{
    margin-top:50px;
    text-align: center;
    font-size:10px;
  }
  .youtube_control{
    font-size:12px;
    height:250px;
    width:80%;
    text-align: center;
    margin-bottom:0px;
    border:2px solid black;
  }

  .border{
    margin-top:20px;
    border-top:2px solid black;
  }
  .header-list{
    position:relative;
  }
  /* .header-list a{
    color:black;
  } */
  .footer-midle{
  display:none;

  }
  /* .footer-right{
    position: absolute;
    top:1710px;
    right:10px;
    color:black;
  } */

}

@media only screen and (min-device-width: 671px) {
body{
  margin: 0;
  /* background-image: url("background-image1.JPG"); */
  background-color: white;
  background-size:cover;
}
header{
  /* position :fixed; */
  margin:0;
}

.header-list{
  /* position:relative; */

}
.header_logo{
  height:150px;
  width:100%;
  background-image: url("magic-logo.png");
  background-size: cover;
  /* border-bottom:2px solid red; */
}
h1{
  color:black;
  margin-bottom: 0px;
}

.header-right{
  /* width:100%;
  padding-top:0px;
  margin-top:0px;
  z-index: 1;
  position: absolute; */
  position: absolute
  top:70px;
  right:0px;
  /* margin:-10px 65px 0 0; */
}
.header-right.fixed{
    position: fixed;
    top: 0;
}

/* .header-right.transform{
  background: rgba(255,255,255,0.9);
    padding: 20px;
} */
.cp_navi {
  /* position :fixed; */
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 1%;
	overflow: hidden;
	width: 100%;
}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
	color: #aaaaaa;
	display: block;
	line-height: 56px;
	padding: 0 100px;
  /* 横幅 */
	text-decoration: none;
}
.cp_navi > ul > li:hover {
	background-color: rgb(218, 60, 65);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: rgb(218, 60, 65);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}
.clear{
  clear:both;
}
.menu{
  margin-top: 0px;
  padding-top:0px;
  height:500px;
  width:100%;
}
/* .border1{
  margin-top:180px;
  border-top:2px solid black;
} */
.clear{
  clear:both;
}
.introduce_detail{
  margin:30px 50px;
}
.introduce_detail h1{
  font-size:50px;
  color:#1E90FF;
}
.introduce_text{
padding: 10px;
border: 1px solid #1E90FF;
margin:10px 100px;
border-radius: 10px;
font-size:30px;
text-align: justify;
text-justify: inter-ideograph;
}

.Mail{
  margin:30px 50px;
}
.Mail h1{
  margin-left: 5px;
  font-size:50px;
  color:#1E90FF;
}
.Mail_text{
padding: 10px;
border: 1px solid #1E90FF;
margin:10px 100px;
border-radius: 10px;
font-size:30px;
text-align: justify;
text-justify: inter-ideograph;
}
.border{
  border-top:2px solid black;
}
.header-list{
  position:relative;
}
.header-list a{
  color:black;
}
.footer-midle{
  position: absolute;
  top:1000px;
  right:50%;

}
.footer-right{
  position: absolute;
  top:1000px;
  right:10px;
  color:black;
}
}
